<%= form_for(@parcel) do |f| %>
  <% if @parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>
      <ul>
      <% @parcel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :快递单号 %><br />
    <%= f.text_field :track_no %>
  </div>
  <div class="field">
    <%= f.label :收件人电邮 %><br />
    <%= f.date_field :description %>
  </div>
  <div class="actions">
    <%= f.submit "创建" %>
  </div>
<% end %>