<h1>编辑快递信息</h1>

<%= form_for(@parcel) do |f| %>
  <% if @parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>
      <ul>
      <% @parcel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :快递单号 %><br />
    <%= f.text_field :track_no %>
  </div>
  <div class="field">
    <%= f.label :收件人 %><br />
    <%= f.collection_select(:buyer_id, @buyers, :id, :name_with_email)  %>
  </div>
  <div class="field">
    <%= f.label :物品信息 %><br />
    <%= f.text_area :description, size: "30x12" %>
  </div>
  <div class="field">
    <%= f.label :投递日期 %><br />
    <%= f.date_select :shiped_date %>
  </div>
  <div class="field">
    <%= f.radio_button(:delivered, :true) %>
    <%= f.label :已送达 %><br />
    <%= f.radio_button(:delivered, :false) %>
    <%= f.label :在途 %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "更改" %>
  </div>
<% end %>
