<% if current_user.buyer? %>
	<% if current_user.inParcels.count == 0%>
		你没有快递单
	<% else %>
		<table class="table table-striped">
			<thead>
				<td>单号</td>
				<td>收件人</td>
				<td>寄件人</td>
				<td>状态</td>
				<td>投递日期</td>
				<td>描述</td>
				<td></td>
			</thead>
		    <tbody>
		    	<% current_user.inParcels.order(:delivered, shiped_date: :desc).each do |parcel| %>
					<tr>
					  <td>
					  	<%= parcel.track_no %>
					  </td>					  
					  <td>
					  	<%= parcel.buyer.name_with_email %>
					  </td>
					  <td>
					  	<%= parcel.seller.name_with_email %>
					  </td>
					  <td>
					  	<%= parcel.delivered ? "已送达" : "在途" %>
					  </td>
					  <td>
					  	<%= parcel.shiped_date %>
					  </td>
					  <td>
					  	<%= parcel.description %>
					  </td>
					  <td>
					  	<a type="button" class="btn btn-default" href=<%="http://www.hyexpress.com.au/cgi-bin/GInfo.dll?EmmisTrack&w=auhyexpress&cno=#{parcel.track_no}&cmodel=&ntype=0"%>>追踪</a>
					  </td>
					</tr>
			    <% end %>
		    </tbody>
		</table>
	<% end %>
<% elsif current_user.seller? %>
	<% if current_user.outParcels.count == 0%>
		你没有在途快递单
	<% else %>
		<table class="table table-striped">
			<thead>
				<td>单号</td>
				<td>收件人</td>
				<td>寄件人</td>
				<td>状态</td>
				<td>投递日期</td>
				<td>描述</td>
				<td></td>
			</thead>
		    <tbody>
		    	<% current_user.outParcels.order(:buyer_id, :delivered, shiped_date: :desc).each do |parcel| %>
					<tr>

					  <td>
					  	<%= parcel.track_no %>
					  </td>					  
					  <td>
					  	<%= parcel.buyer.name_with_email %>
					  </td>
					  <td>
					  	<%= parcel.seller.name_with_email %>
					  </td>
					  <td>
					  	<%= parcel.delivered ? "已送达" : "在途" %>
					  </td>
					  <td>
					  	<%= parcel.shiped_date %>
					  </td>
					  <td>
					  	<%= parcel.description %>
					  </td>
					  <td>
					  	<a type="button" class="btn btn-default" href=<%="http://www.vip-express.com.au/yy/myInfo/search.action?doccode=#{parcel.track_no}"%>>追踪</a>
					  	<a><%= link_to '编辑', edit_parcel_path(parcel), :class =>  'btn btn-default' %></a>
					  </td>
					</tr>
			    <% end %>
		    </tbody>
		</table>
	<% end %>
<% elsif current_user.admin? %>
开发中
<% else %>
滚粗，你没资格查看这个页面。
<% end %>