<h2>编辑账号信息</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :电子邮件 %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :密码 %> <i>(不想改就别碰它)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :确认密码 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :当前密码 %> <i>(不告诉我就不给改)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "大爷求求你了给更新一下" %>
  </div>
<% end %>

<h3>账号注销</h3>

<p>不想继续用了? <%= button_to "注销，不送", registration_path(resource_name), data: { confirm: "你确定?我就客气一下，赶紧点确定！" }, method: :delete %></p>

<%= link_to "返回", :back %>
