<div class="jumbotron text-center">
<h2>我要加入</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :电子邮件 %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :密码 %>
    <% if @minimum_password_length %>
    <em>(至少包含<%= @minimum_password_length %>个字符)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :确认密码 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "大爷求求你了带我玩儿一个" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>