<h1>用户管理</h1>
<% if current_user && current_user.admin? %>
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	      <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <br>
	  <div class="field">
	    <%= f.label :电子邮件 %><br />
	    <%= f.text_field :email, :readonly => true %>
	  </div>
	  <div class="field">
	    <%= f.label :姓名 %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	    <%= f.label :权限管理 %><br />
	    <%= f.radio_button(:role, :buyer) %>
	    <%= f.label :买家 %><br />
	    <%= f.radio_button(:role, :seller) %>
	    <%= f.label :卖家 %><br />
	    <%= f.radio_button(:role, :admin, :disabled => true) %>
	    <%= f.label :管理员 %>
	  </div>
	  <div class="field">
	    <%= f.label :分销商 %><br />
	    <%= f.radio_button(:distribution, :true) %>
	    <%= f.label :是 %><br />
	    <%= f.radio_button(:distribution, :false) %>
	    <%= f.label :否 %>
	  </div>
	  <div class="actions">
	    <%= f.submit "更改" %>
	  </div>
	<% end %>
<% else %>
滚粗，你没资格来这里
<% end %>
