<% if current_user && current_user.admin? %>
	<table class="table table-striped">
		<thead>
			<td>电子邮件</td>
			<td>姓名</td>
			<td>权限</td>
			<td>分销商</td>
			<td></td>
		</thead>
	    <tbody>
	    	<% @users.each do |user| %>
		      <tr>
		          <td>
		          	<%= user.email %>
		          </td>
		          <td>
		          	<%= user.name %>
		          </td>
		          <td>
		          	<%= user.role %>
		          </td>
		          <td>
		          	<%= user.distribution ? "是" : "否" %>
		          </td>
		          <td>
		         	<a><%= link_to '编辑', edit_user_path(user), :class =>  'btn btn-default' %></a>
		          </td>
		      </tr>
		    <% end %>
	    </tbody>
	</table>
<% else %>
你没资格来这里，滚粗。
<% end %>