<h2>密码忘了，你四不四傻?（怪我咯）</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :电子邮箱 %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "大爷求求你了给我重置一下。（这个功能还得设置个发信邮箱，好麻烦，还没neng。点了也不好使。）" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
