<div class="container">
    <pre>
    <%= Cowsay.say("你瞅啥，买点吧！").insert(0," "*50).gsub("\n","\n"+" "*55) %>
    </pre>
  <div class="alert alert-info" role="alert">
    <div class="container text-center">
      <p>请认真阅读使用说明（不读也没事儿）。你将会了解到如何从本站获取想要查询的信息，然后愉快的剁(Bao)手(Jian)。</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-5">
      <h3><span class="glyphicon glyphicon-info-sign"></span> 使用说明：</h3>
      <ul>
        <li>本站尚在建设中，目前仅提供部分保健品价格实时查询功能，下单购买或其它信息咨询请扫描二维码添加作者微信。</li>
        <li>本站使用Ruby On Rails（5分钟建站，立等可取，自从用了Ruby On Rails，腰不酸了，腿不疼了，再也不想碰Java Spring那堆狗屎了）搭建，部署在Heroku免费平台上，既然是免费平台，特点就是抠，性能一般般，也不支持后台进程（要花钱买），所以每天的格林尼治时间零点（国内早8点）之后，首次点击常见物品或物品分类按钮会触发数据更新操作，网页响应较慢（我也没辙），请耐心等耐（爱等不等），抓取结束后响应速度还特么凑合（国内不好说）。</li>
        <li><a href='/welcome/playwithbootstrap'>Playground</a></li>
      </ul>
    </div>
    <div class="col-md-5">
      <h3><span class="glyphicon glyphicon-link"></span> 帮助链接：</h3>
      <ul>
        <li><a href="https://www.chemistwarehouse.com.au">Chemist warehouse 官网</a></li>
        <li><a href="/">然后就没有然后了。</a></li>
        <li><a href="/">使用说明那里字太多，这里字太少，看着好丑。</a></li>
        <li><a href="/">说点废话平衡一下，虽说是废话，也要凑满十五个字。</a></li>
        <li><a href="/">再来点废话，这句废话得长点，保守估计也得二十个字儿吧。</a></li>
        <li><a href="/">这还差不多。</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3><img src="<%= asset_path('QRCODE.jpg') %>" class="img-rouded" alt="Cinque Terre" width="169" height="224"></h3>
    </div>
  </div> <!-- row -->
</div>
<hr>
<%= render 'layouts/footer' %>