    <div class="alert alert-info" role="alert">
      <pre>
        <%= Cowsay.say("你瞅啥，买点吧！").insert(0," "*60).gsub("\n","\n"+" "*65) %>
      </pre>
    </div>
<div class="jumbotron text-center">
  <div class="container">
<!--     <a href="/" class="lang-logo">
      <img src="<%= asset_path('shield.jpg') %>">
    </a>  -->
    <h1>老板买点什么</h1>
    <p>本站点尚在建设中，仅提供部分保健品价格实时查询以及文字版单口相声功能。导航栏里的按钮都别点，点了也没用，不会动（也不是全都不会）。</p>
    <a type="button" class="btn btn-lg btn-default" href="/products"><span class="glyphicon glyphicon-flash"></span>常见物品价格</a>
    <a type="button" class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-download"></span>别点我</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> 使用说明：</h3>
      <ul>
        <li>这个网站是用Ruby On Rails（5分钟建站，立等可取，自从用了Ruby On Rails，腰不酸了，腿不疼了，再也不想碰Java Spring那堆狗屎了）开发的，部署在Heroku免费平台上，既然是免费平台，特点就是抠，性能一般般，也不支持后台进程（要花钱买），所以每天的格林尼治时间零点（国内早8点）之后，首次查询价格（点击上面那个带闪电的白色按钮）会触发数据更新操作，所以响应较慢（我也没辙），请耐心等耐（爱等不等），抓取结束后响应速度还特么凑合（国内不好说）。</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> 帮助链接：</h3>
      <ul>
        <li><a href="https://www.chemistwarehouse.com.au">Chemist warehouse 官网</a></li>
        <li><a href="/">然后就没有然后了。</a></li>
        <li><a href="/">使用说明那里字太多，这里字太少，看着好丑。</a></li>
        <li><a href="/">说点废话平衡一下，虽说是废话，也要凑满十五个字。</a></li>
        <li><a href="/">再来点废话，这句废话得长点，保守估计也得二十个字儿吧。</a></li>
        <li><a href="/">这还差不多。</a></li>
      </ul>
    </div>
  </div> <!-- row -->
  <div class="alert alert-info text-center" role="alert">
    请认真阅读使用说明（不读也没事儿）。你将会了解到如何从本站获取想要查询的信息，然后愉快的剁(Bao)手(Jian)。
  </div>
  <div class="container text-center">
  </div>
</div>
<%= render 'layouts/footer' %>