<div class="jumbotron text-center">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>老板买点什么</h1>
    <hr>
    <!-- <a type="button" class="btn btn-lg btn-default" href="/items/bestsellers"><span class="glyphicon glyphicon-book"></span>常见物品</a> -->
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
      显摆一下相册
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">就没有标题，咋地吧</h4>
      </div>
      <div class="modal-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <% @items=Item.all %>
            <ol class="carousel-indicators">
                <% @items.each_with_index do |item,index| %>
                  <% if index == 0 %>
                    <li data-target="#carousel-example-generic" data-slide-to=<%=index%> class="active"></li>
                  <% else %>
                    <li data-target="#carousel-example-generic" data-slide-to=<%=index%>></li>
                    <% end %>
                <% end %>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <% @items.each_with_index do |item,index| %>
                  <% if index == 0 %>
                    <div class="item active">
                      <img src=<%= "https://static.chemistwarehouse.com.au/ams/media/productimages/#{item.identifier}/original.jpg" %> alt=<%= item.description %> >
                      <div class="carousel-caption">
                        <h1><%= item.description %></h1>
                      </div>
                    </div>
                  <% else %>
                    <div class="item">
                      <img src=<%= "https://static.chemistwarehouse.com.au/ams/media/productimages/#{item.identifier}/original.jpg" %> alt=<%= item.description %> >
                      <div class="carousel-caption">
                        <h1><%= item.description %></h1>
                      </div>
                    </div>
                  <% end %>
              <% end %>
              你瞅啥，买点吧
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">前一张</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">下一张</span>
            </a>
          </div>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>