<div class="container">
	<div class="page-header">
	  <h1>Playground <small>Having fun with Bootstrap</small></h1>
	</div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src=<%= asset_path('QRCODE.jpg') %> alt="..." >
	      <div class="carousel-caption">
	        二维码
	      </div>
	    </div>
	    <div class="item">
	      <img src=<%= asset_path('cosmic.jpg') %> alt="..." >
	      <div class="carousel-caption">
	        宇宙
	      </div>
	    </div>
	   	<div class="item">
	      <img src=<%= asset_path('shield.jpg') %> alt="..." >
	      <div class="carousel-caption">
	        神盾局
	      </div>
	    </div>
	    呵呵呵
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Collapsible Group Item #1
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Collapsible Group Item #2
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Collapsible Group Item #3
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>


	<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
	  Link with href
	</a><br>
	<div class="collapse" id="collapseExample1">
	  <div class="well">
	    dfasdfafdafs
	  </div>
	</div>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
	  Button with data-target
	</button><br>
	<div class="collapse" id="collapseExample2">
	  <div class="well">
	    wawawawawawawaw
	  </div>
	</div>

	<!-- Large modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">给爷弹个大窗</button><br>

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      我是大窗
	    </div>
	  </div>
	</div>

	<!-- Small modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">给爷弹个小窗</button><br>

	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      我是小窗
	    </div>
	  </div>
	</div>

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  给爷弹个窗
	</button><br>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        modal body
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="well">呱呱</div>

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Panel heading</div>
	  <div class="panel-body">
	    <p>Panel bodyyyyyy</p>
	  </div>

	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item">Cras justo odio</li>
	    <li class="list-group-item">Dapibus ac facilisis in</li>
	    <li class="list-group-item">Morbi leo risus</li>
	    <li class="list-group-item">Porta ac consectetur ac</li>
	    <li class="list-group-item">Vestibulum at eros</li>
	  </ul>
	</div>

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Panel heading</div>

	  <!-- Table -->
	  <table class="table">
	    <td>wawawa</td>
	    <td>wawawa</td>
	    <td>wawawa</td>
	    <td>wawawa</td>
	    <td>wawawa</td>
	  </table>
	</div>

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Panel heading</div>
	  <div class="panel-body">
	    <p>wakjwh aiuwh aiuwhiua hfdnksjdngflfs dfflmnl aweijlwi hgsldn zm,xnxcv,kzf oinw e.</p>
	  </div>

	  <!-- Table -->
	  <table class="table">
	    <td>wawawa</td>
	    <td>wawawa</td>
	    <td>wawawa</td>
	    <td>wawawa</td>
	    <td>wawawa</td>
	  </table>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
		    <h3 class="panel-title">Panel title</h3>
		</div>
		<div class="panel-body">
		Panel content
		</div>
		<div class="panel-footer">Panel footer</div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">Panel heading without title</div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-body">
	    Basic panel example
	  </div>
	</div>

	<ul class="list-group">
	  <li class="list-group-item">
	    <span class="badge">14</span>
	    Cras justo odio
	  </li>
	  <li class="list-group-item">
	    <span class="badge">14</span>
	    Cras justo odio
	  </li>
	</ul>

	<div class="list-group">
	  <button type="button" class="list-group-item">Cras justo odio</button>
	  <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
	  <button type="button" class="list-group-item">Morbi leo risus</button>
	  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
	  <button type="button" class="list-group-item">Vestibulum at eros</button>
	</div>

	<ul class="media-list">
	  <li class="media">
	    <div class="media-left">
	      <a href="#">
	        <img class="media-object" src=<%= asset_path('QRCODE.jpg') %> alt="..." width="30">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Media heading</h4>
	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	
	    </div>
	  </li>
	  <li class="media">
	    <div class="media-left">
	      <a href="#">
	        <img class="media-object" src=<%= asset_path('QRCODE.jpg') %> alt="..." width="30">
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Media heading</h4>
	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	
	    </div>
	  </li>
	</ul>

	<div class="media">
	  <div class="media-left media-bottom">
	    <a href="#">
	      <img class="media-object" src=<%= asset_path('QRCODE.jpg') %> alt="..." width="150">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Middle aligned media</h4>
	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu 
	  </div>
	</div>

	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src=<%= asset_path('QRCODE.jpg') %> alt="..." width="150">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Media heading</h4>
	    wakjhwakjwhakjhwjkahwaiuhckjlnfsudhfiusdhfjiasdljfakjfdiahfiuehlgjrigjirtn werthweljgrn weir hgiu ehwrghkuw hru gb urghwu h.
	  </div>
	</div>

	<div class="progress">
	  <div class="progress-bar progress-bar-success" style="width: 35%">
	    <span class="sr-only">35% Complete (success)</span>
	  </div>
	  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
	    <span class="sr-only">20% Complete (warning)</span>
	  </div>
	  <div class="progress-bar progress-bar-danger" style="width: 10%">
	    <span class="sr-only">10% Complete (danger)</span>
	  </div>
	</div>

	<div class="progress">
	  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
	    <span class="sr-only">45% Complete</span>
	  </div>
	</div>

	<div class="progress">
	  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span class="sr-only">40% Complete (success)</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	    <span class="sr-only">20% Complete</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	    <span class="sr-only">60% Complete (warning)</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	    <span class="sr-only">80% Complete (danger)</span>
	  </div>
	</div>

	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span class="sr-only">40% Complete (success)</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	    <span class="sr-only">20% Complete</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	    <span class="sr-only">60% Complete (warning)</span>
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	    <span class="sr-only">80% Complete (danger)</span>
	  </div>
	</div>

	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	    60%
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
	    0%
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
	    2%
	  </div>
	</div>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	    <span class="sr-only">60% Complete</span>
	  </div>
	</div>

	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> Better check yourself, you're not looking too good.
	</div>
	<div class="alert alert-success" role="alert"><strong>Well done!</strong> You successfully read this important <a href="#" class="alert-link">alert</a> message.</div>
	<div class="alert alert-info" role="alert"><strong>Heads up!</strong> This alert needs your attention, but it's not <a href="#" class="alert-link">super</a> important.</div>
	<div class="alert alert-warning" role="alert"><strong>Warning!</strong> Better check yourself, you're not looking <a href="#" class="alert-link">too</a> good.</div>
	<div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Change a few things up and try <a href="#" class="alert-link">submitting</a> again.</div>

	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src=<%= asset_path('QRCODE.jpg') %> alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src=<%= asset_path('QRCODE.jpg') %> alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src=<%= asset_path('QRCODE.jpg') %> alt="...">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src=<%= asset_path('QRCODE.jpg') %> alt="...">
	    </a>
	    awawawa
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src=<%= asset_path('QRCODE.jpg') %> alt="...">
	    </a>
	    	    awawawa
	  </div>
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src=<%= asset_path('QRCODE.jpg') %> alt="...">
	    </a>
	    awawawa
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	</div>
	<div class="row">
	  <div class="col-md-8">.col-md-8</div>
	  <div class="col-md-4">.col-md-4</div>
	</div>
	<div class="row">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
	</div>
	<div class="row">
	  <div class="col-md-6">.col-md-6</div>
	  <div class="col-md-6">.col-md-6</div>
	</div>
	<br>
	<div class="row">
	  <div class="col-xs-9">.col-xs-9</div>
	  <div class="col-xs-4">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
	  <div class="col-xs-6">.col-xs-6<br>Subsequent columns continue along the new line.</div>
	</div>
	<br>
	<div class="row">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
	</div>
	<div class="row">
	  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
	  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
	</div>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
	</div>
	<br>
	<div class="row">
	  <div class="col-sm-9">
	    Level 1: .col-sm-9
	    <div class="row">
	      <div class="col-xs-8 col-sm-6">
	        Level 2: .col-xs-8 .col-sm-6
	      </div>
	      <div class="col-xs-4 col-sm-6">
	        Level 2: .col-xs-4 .col-sm-6
	      </div>
	    </div>
	  </div>
	</div>
	<br>
	<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
	<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
	<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
	<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
	<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
	<h6>h6. Bootstrap heading <small>Secondary text</small></h6>
	<br>
	<p class="lead">哇靠聚合物空间啊哈我看见爱护我卡机和我卡机和万科就阿訇看加我哈空间换网卡</p>
	<p>哇哇哇哇哇靠聚合物空间啊哈我看见爱护我卡机和我卡机和万科就阿訇看加我哈空间换网卡</p>
	You can use the mark tag to <mark>highlight</mark> text.<br>
	<del>This line of text is meant to be treated as deleted text.</del><br>
	<ins>This line of text is meant to be treated as an addition to the document.</ins><br>
	<u>This line of text will render as underlined</u><br>
	<small>This line of text is meant to be treated as fine print.</small><br>
	The following snippet of text is <strong>rendered as bold text</strong><br>
	The following snippet of text is <em>rendered as italicized text</em><br><br>
	<p class="text-left">Left aligned text.</p>
	<p class="text-center">Center aligned text.</p>
	<p class="text-right">Right aligned text.</p>
	<p class="text-justify">Justified text.</p>
	<p class="text-nowrap">No wrap text.</p>
	<p class="text-lowercase">Lowercased text.</p>
	<p class="text-uppercase">Uppercased text.</p>
	<p class="text-capitalize">Capitalized text.</p>
	An abbreviation of the word attribute is <abbr title="attribute">attr</abbr><br>
	<abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.<br>
	<address>
	  <strong>Twitter, Inc.</strong><br>
	  795 Folsom Ave, Suite 600<br>
	  San Francisco, CA 94107<br>
	  <abbr title="Phone">P:</abbr> (123) 456-7890
	</address>

	<address>
	  <strong>Full Name</strong><br>
	  <a href="mailto:#">first.last@example.com</a>
	</address><br>
	<blockquote>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	</blockquote>
	<blockquote>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
	<blockquote class="blockquote-reverse">
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
	<ul>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	</ul>
	<ol>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	  <li>wawawaa</li>
	</ol>
	<dl>
	  <dt>Description lists</dt>
	  <dd>A description list is perfect for defining terms.</dd>
	</dl>
	<dl class="dl-horizontal">
	  <dt>Description lists</dt>
	  <dd>A description list is perfect for defining terms.</dd>
	  <dt>Euismod</dt>
	  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
	</dl>
	For example, <code>&lt;section&gt;</code> should be wrapped as inline.<br>
	To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
	<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
	<var>y</var> = <var>m</var><var>x</var> + <var>b</var><br>
	<samp>This text is meant to be treated as sample output from a computer program.</samp><br>
	<table class="table">
		<thead>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
		</thead>
		<tbody>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped">
		<thead>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
		</thead>
		<tbody>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<thead>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
		</thead>
		<tbody>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-hover">
		<thead>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
		</thead>
		<tbody>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-condensed">
		<thead>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
		</thead>
		<tbody>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
			<tr>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
				<td>wawaw</td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<tbody>
				<tr>
				  <td class="active">...</td>
				  <td class="success">...</td>
				  <td class="warning">...</td>
				  <td class="danger">...</td>
				  <td class="info">...</td>
				</tr>
		</tbody>
	</table>
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" id="exampleInputFile">
	    <p class="help-block">Example block-level help text here.</p>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Check me out
	    </label>
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	<form class="form-inline">
	  <div class="form-group">
	    <label for="exampleInputName2">Name</label>
	    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail2">Email</label>
	    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
	  </div>
	  <button type="submit" class="btn btn-default">Send invitation</button>
	</form>
	<form class="form-inline">
	  <div class="form-group">
	    <label class="sr-only" for="exampleInputEmail3">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label class="sr-only" for="exampleInputPassword3">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Remember me
	    </label>
	  </div>
	  <button type="submit" class="btn btn-default">Sign in</button>
	</form>
	<form class="form-inline">
	  <div class="form-group">
	    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
	    <div class="input-group">
	      <div class="input-group-addon">$</div>
	      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
	      <div class="input-group-addon">.00</div>
	    </div>
	  </div>
	  <button type="submit" class="btn btn-primary">Transfer cash</button>
	</form>
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox"> Remember me
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Sign in</button>
	    </div>
	  </div>
	</form>
	<input type="text" class="form-control" placeholder="Text input">
	<textarea class="form-control" rows="3"></textarea>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    Option one is this and that&mdash;be sure to include why it's great
	  </label>
	</div>
	<div class="checkbox disabled">
	  <label>
	    <input type="checkbox" value="" disabled>
	    Option two is disabled
	  </label>
	</div>

	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	    Option one is this and that&mdash;be sure to include why it's great
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	    Option two can be something else and selecting it will deselect option one
	  </label>
	</div>
	<div class="radio disabled">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
	    Option three is disabled
	  </label>
	</div>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
	</label>

	<label class="radio-inline">
	  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
	</label>
	<label class="radio-inline">
	  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
	</label>
	<label class="radio-inline">
	  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
	</label>
		<div class="checkbox">
	  <label>
	    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
	  </label>
	</div>
	<select class="form-control">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	<select multiple class="form-control">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	<form class="form-horizontal">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <p class="form-control-static">email@example.com</p>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
	    </div>
	  </div>
	</form>
	<form class="form-inline">
	  <div class="form-group">
	    <label class="sr-only">Email</label>
	    <p class="form-control-static">email@example.com</p>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword2" class="sr-only">Password</label>
	    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default">Confirm identity</button>
	</form>
	<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
	<form>
	  <fieldset disabled>
	    <div class="form-group">
	      <label for="disabledTextInput">Disabled input</label>
	      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
	    </div>
	    <div class="form-group">
	      <label for="disabledSelect">Disabled select menu</label>
	      <select id="disabledSelect" class="form-control">
	        <option>Disabled select</option>
	      </select>
	    </div>
	    <div class="checkbox">
	      <label>
	        <input type="checkbox"> Can't check this
	      </label>
	    </div>
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </fieldset>
	</form>
	<input class="form-control" type="text" placeholder="Readonly input here…" readonly>
	<div class="form-group has-success">
	  <label class="control-label" for="inputSuccess1">Input with success</label>
	  <input type="text" class="form-control" id="inputSuccess1">
	</div>
	<div class="form-group has-warning">
	  <label class="control-label" for="inputWarning1">Input with warning</label>
	  <input type="text" class="form-control" id="inputWarning1">
	</div>
	<div class="form-group has-error">
	  <label class="control-label" for="inputError1">Input with error</label>
	  <input type="text" class="form-control" id="inputError1">
	</div>
	<div class="has-success">
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="checkboxSuccess" value="option1">
	      Checkbox with success
	    </label>
	  </div>
	</div>
	<div class="has-warning">
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="checkboxWarning" value="option1">
	      Checkbox with warning
	    </label>
	  </div>
	</div>
	<div class="has-error">
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="checkboxError" value="option1">
	      Checkbox with error
	    </label>
	  </div>
	</div>

	<div class="form-group has-success has-feedback">
	  <label class="control-label" for="inputSuccess2">Input with success</label>
	  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputSuccess2Status" class="sr-only">(success)</span>
	</div>
	<div class="form-group has-warning has-feedback">
	  <label class="control-label" for="inputWarning2">Input with warning</label>
	  <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
	  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
	  <span id="inputWarning2Status" class="sr-only">(warning)</span>
	</div>
	<div class="form-group has-error has-feedback">
	  <label class="control-label" for="inputError2">Input with error</label>
	  <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
	  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	  <span id="inputError2Status" class="sr-only">(error)</span>
	</div>
	<div class="form-group has-success has-feedback">
	  <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
	  <div class="input-group">
	    <span class="input-group-addon">@</span>
	    <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
	  </div>
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
	</div>

	<form class="form-horizontal">
	  <div class="form-group has-success has-feedback">
	    <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
	      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	      <span id="inputSuccess3Status" class="sr-only">(success)</span>
	    </div>
	  </div>
	  <div class="form-group has-success has-feedback">
	    <label class="control-label col-sm-3" for="inputGroupSuccess2">Input group with success</label>
	    <div class="col-sm-9">
	      <div class="input-group">
	        <span class="input-group-addon">@</span>
	        <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status">
	      </div>
	      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	      <span id="inputGroupSuccess2Status" class="sr-only">(success)</span>
	    </div>
	  </div>
	</form>
	<form class="form-inline">
	  <div class="form-group has-success has-feedback">
	    <label class="control-label" for="inputSuccess4">Input with success</label>
	    <input type="text" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
	    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	    <span id="inputSuccess4Status" class="sr-only">(success)</span>
	  </div>
	</form>
	<form class="form-inline">
	  <div class="form-group has-success has-feedback">
	    <label class="control-label" for="inputGroupSuccess3">Input group with success</label>
	    <div class="input-group">
	      <span class="input-group-addon">@</span>
	      <input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status">
	    </div>
	    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	    <span id="inputGroupSuccess3Status" class="sr-only">(success)</span>
	  </div>
	</form>
	<div class="form-group has-success has-feedback">
	  <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
	  <input type="text" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status">
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputSuccess5Status" class="sr-only">(success)</span>
	</div>
	<div class="form-group has-success has-feedback">
	  <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
	  <div class="input-group">
	    <span class="input-group-addon">@</span>
	    <input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status">
	  </div>
	  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>
	</div>

	<input class="form-control input-lg" type="text" placeholder=".input-lg">
	<input class="form-control" type="text" placeholder="Default input">
	<input class="form-control input-sm" type="text" placeholder=".input-sm">

	<select class="form-control input-lg">
		<option>input-lg</option>
	</select>
	<select class="form-control">
		<option>Default select</option>
	</select>
	<select class="form-control input-sm">
		<option>input-sm</option>
	</select>
	<form class="form-horizontal">
	  <div class="form-group form-group-lg">
	    <label class="col-sm-2 control-label" for="formGroupInputLarge">Large label</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Large input">
	    </div>
	  </div>
	  <div class="form-group form-group-sm">
	    <label class="col-sm-2 control-label" for="formGroupInputSmall">Small label</label>
	    <div class="col-sm-10">
	      <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Small input">
	    </div>
	  </div>
	</form>
	<div class="row">
	  <div class="col-xs-2">
	    <input type="text" class="form-control" placeholder=".col-xs-2">
	  </div>
	  <div class="col-xs-3">
	    <input type="text" class="form-control" placeholder=".col-xs-3">
	  </div>
	  <div class="col-xs-4">
	    <input type="text" class="form-control" placeholder=".col-xs-4">
	  </div>
	</div>
	<label class="sr-only" for="inputHelpBlock">Input with help text</label>
	<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
	<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
	<a class="btn btn-default" href="#" role="button">Link</a>
	<button class="btn btn-default" type="submit">Button</button>
	<input class="btn btn-default" type="button" value="Input">
	<input class="btn btn-default" type="submit" value="Submit"><br>
	<!-- Standard button -->
	<button type="button" class="btn btn-default">Default</button>

	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<button type="button" class="btn btn-primary">Primary</button>

	<!-- Indicates a successful or positive action -->
	<button type="button" class="btn btn-success">Success</button>

	<!-- Contextual button for informational alert messages -->
	<button type="button" class="btn btn-info">Info</button>

	<!-- Indicates caution should be taken with this action -->
	<button type="button" class="btn btn-warning">Warning</button>

	<!-- Indicates a dangerous or potentially negative action -->
	<button type="button" class="btn btn-danger">Danger</button>

	<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
	<button type="button" class="btn btn-link">Link</button>
	<p>
	  <button type="button" class="btn btn-primary btn-lg">Large button</button>
	  <button type="button" class="btn btn-default btn-lg">（Large button</button>
	</p>
	<p>
	  <button type="button" class="btn btn-primary">Default button</button>
	  <button type="button" class="btn btn-default">（Default button</button>
	</p>
	<p>
	  <button type="button" class="btn btn-primary btn-sm">Small button</button>
	  <button type="button" class="btn btn-default btn-sm">Small button</button>
	</p>
	<p>
	  <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
	  <button type="button" class="btn btn-default btn-xs">Extra small button</button>
	</p>
	<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
	<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
	<button type="button" class="btn btn-primary btn-lg active">Primary button</button>
	<button type="button" class="btn btn-default btn-lg active">Button</button>
	<a href="#" class="btn btn-primary btn-lg active" role="button">Primary link</a>
	<a href="#" class="btn btn-default btn-lg active" role="button">Link</a>
	<button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
	<button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
	<a href="#" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>
	<a href="#" class="btn btn-default btn-lg disabled" role="button">Link</a>
	<img src=<%= asset_path('QRCODE.jpg') %> class="img-responsive" alt="Responsive image" width="100">
	<img src=<%= asset_path('QRCODE.jpg') %> alt="..." class="img-rounded" width="100">
	<img src=<%= asset_path('QRCODE.jpg') %> alt="..." class="img-circle" width="100">
	<img src=<%= asset_path('QRCODE.jpg') %> alt="..." class="img-thumbnail" width="100">
	<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
	<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
	<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
	<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
	<p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	<p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
	<p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	<p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
	<p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<br>
	<span class="caret"></span><br>
	<div class="pull-left">pull left</div><br>
	<div class="pull-right">pull right</div><br>
	<div class="center-block">center block</div>
	<h1 class="text-hide">Custom heading</h1>
	<button type="button" class="btn btn-default" aria-label="Left Align">
	  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
	</button>

	<button type="button" class="btn btn-default btn-lg">
	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
	</button>
	<div class="alert alert-danger" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  Enter a valid email address
	</div>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Dropdown
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div>
	<div class="dropup">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Dropup
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Dropdown
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
	  	<li class="dropdown-header">Dropdown header</li>
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Something else here</a></li>
	    <li class="disabled"><a href="#">Disabled link</a></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div>
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Left</button>
	  <button type="button" class="btn btn-default">Middle</button>
	  <button type="button" class="btn btn-default">Right</button>
	</div>
	<div class="btn-toolbar" role="toolbar" aria-label="...">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">1</button>
		  <button type="button" class="btn btn-default">2</button>
		  <button type="button" class="btn btn-default">3</button>
		  <button type="button" class="btn btn-default">4</button>
		</div>
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">5</button>
		  <button type="button" class="btn btn-default">6</button>
		  <button type="button" class="btn btn-default">7</button>
		</div>
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">8</button>
		</div>
	</div>
	<div class="btn-group btn-group-lg" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Left</button>
	  <button type="button" class="btn btn-default">Middle</button>
	  <button type="button" class="btn btn-default">Right</button>
	</div><br>
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Left</button>
	  <button type="button" class="btn btn-default">Middle</button>
	  <button type="button" class="btn btn-default">Right</button>
	</div><br>
	<div class="btn-group btn-group-sm" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Left</button>
	  <button type="button" class="btn btn-default">Middle</button>
	  <button type="button" class="btn btn-default">Right</button>
	</div><br>
	<div class="btn-group btn-group-xs" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Left</button>
	  <button type="button" class="btn btn-default">Middle</button>
	  <button type="button" class="btn btn-default">Right</button>
	</div><br>
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">1</button>
	  <button type="button" class="btn btn-default">2</button>

	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Dropdown
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Dropdown link</a></li>
	      <li><a href="#">Dropdown link</a></li>
	    </ul>
	  </div>
	</div><br>
	<div class="btn-group-vertical" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">1</button>
	  <button type="button" class="btn btn-default">2</button>

	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Dropdown
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Dropdown link</a></li>
	      <li><a href="#">Dropdown link</a></li>
	    </ul>
	  </div>
	</div>
	<div class="btn-group btn-group-justified" role="group" aria-label="...">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Left</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Middle</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Right</button>
	  </div>
	</div>
	<!-- Single button -->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Action <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div><br>
	<!-- Split button -->
	<div class="btn-group">
	  <button type="button" class="btn btn-danger">Action</button>
	  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div><br>
	<!-- Large button group -->
	<div class="btn-group">
	  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Large button <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div><br>

	<!-- Small button group -->
	<div class="btn-group">
	  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Small button <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div><br>

	<!-- Extra small button group -->
	<div class="btn-group">
	  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Extra small button <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div><br>
	<div class="btn-group dropup">
	  <button type="button" class="btn btn-default">Dropup</button>
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div><br>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	      <input type="text" class="form-control" placeholder="Search for...">
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row --><br>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
	        <ul class="dropdown-menu">
	          <li><a href="#">Action</a></li>
	          <li><a href="#">Another action</a></li>
	          <li><a href="#">Something else here</a></li>
	          <li role="separator" class="divider"></li>
	          <li><a href="#">Separated link</a></li>
	        </ul>
	      </div><!-- /btn-group -->
	      <input type="text" class="form-control" aria-label="...">
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" aria-label="...">
	      <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
	        <ul class="dropdown-menu dropdown-menu-right">
	          <li><a href="#">Action</a></li>
	          <li><a href="#">Another action</a></li>
	          <li><a href="#">Something else here</a></li>
	          <li role="separator" class="divider"></li>
	          <li><a href="#">Separated link</a></li>
	        </ul>
	      </div><!-- /btn-group -->
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<nav>
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	<nav>
	  <ul class="pagination">
	    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	   	<li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	   	<li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	<nav>
	  <ul class="pager">
	    <li><a href="#">Previous</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</nav>
	<nav>
	  <ul class="pager">
	    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
	    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
	<h3>Example heading <span class="label label-default">New</span></h3>
	<span class="label label-default">Default</span>
	<span class="label label-primary">Primary</span>
	<span class="label label-success">Success</span>
	<span class="label label-info">Info</span>
	<span class="label label-warning">Warning</span>
	<span class="label label-danger">Danger</span>
	<br>
	<a href="#">Inbox <span class="badge">42</span></a>
	<br>
	<button class="btn btn-primary" type="button">
	  Messages <span class="badge">4</span>
	</button>
	<ul class="nav nav-pills" role="tablist">
	  <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
	</ul>
	<div class="jumbotron">
	  <h1>Hello, world!</h1>
	  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>

