<div class="jumbotron text-center">
<h2>让我进去</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :电子邮件 %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :密码 %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :给老子记住 %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "大爷求求你了开开门儿" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>