<table class="table">
    <tbody>
      <% @itemGroups.each do |group| %>
      <tr>
        <% group.each do |item| %>
          <td>
            <div class="Product" style="clear:both; width:200px; text-align:center; padding:10px; display:block">
              <img src= <%= item.img %> alt="" onload="" onerror="this.src='/App_Themes/AMS-CWH/Images/NoImage.jpg'; return false;" width="150" />
              <br>
              <a href=<%= "https://static.chemistwarehouse.com.au/ams/media/productimages/#{item.identifier}/original.jpg" %> onclick="" rel="prettyPhoto" title="" style="font-size:11px">点击查看大图</a>
              <div style="padding:3px 3px 15px 3px; min-height:28px" > <%= item.description %> </div>
              <% if current_user&&current_user.distribution %>
                <span class='Price' style="font-weight:bold; padding:5px; font-size:20px">价格: $<%= item.price %>
                </span>
                <br> 
              <% end %>
              <span class='Price' style="color: rgb(255, 0, 0);font-weight:bold; padding:5px; font-size:15px">建议零售价: ￥<%= current_user&&current_user.distribution ? (item.price * 4.85 * 1.2).round(2) : (item.higheast_price * 5 * 1.2).round(2) %>  
              </span>
              <br> 
              <% if item.inStock? %>
                <span class='Price' style="color: black;font-weight:bold; padding:5px; font-size:15px">有库存
                </span>
              <% else %>
                <span class='Price' style="color: rgb(255, 0, 0);font-weight:bold; padding:5px; font-size:15px">无库存
                </span>
              <% end %>
              <br>
              <span  style="color:#888888;font-size:10px"> 
                编号 <%= item.identifier %>, 更新于<%= item.lastUpdatedDate %>
              </span>
              <br>
            </div>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
</table>

<div class="container">
  <div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-6 col-md-3" style="text-align:center; padding:10px; display:block">
      <div class="thumbnail">
        <img src=<%= item.img %> alt="...">
        <div class="caption">
          <a href=<%= "https://static.chemistwarehouse.com.au/ams/media/productimages/#{item.identifier}/original.jpg" %> onclick="" rel="prettyPhoto" title="" style="font-size:11px">点击查看大图</a>
          <div style="padding:3px 3px 15px 3px; min-height:28px" > <%= item.description %> </div>
          <% if current_user && current_user.distribution %>
            <span class='Price' style="font-weight:bold; padding:5px; font-size:20px">价格: $<%= item.price %>
            </span>
            <br> 
          <% end %>
          <span class='Price' style="color: rgb(255, 0, 0);font-weight:bold; padding:5px; font-size:15px">建议零售价: ￥<%= current_user && current_user.distribution ? (item.price * 4.85 * 1.2).round(2) : (item.higheast_price * 5 * 1.2).round(2) %>  
          </span>
          <br> 
          <% if item.inStock? %>
            <span class='Price' style="color: black;font-weight:bold; padding:5px; font-size:15px">有库存
            </span>
          <% else %>
            <span class='Price' style="color: rgb(255, 0, 0);font-weight:bold; padding:5px; font-size:15px">无库存
            </span>
          <% end %>
          <br>
<!--           <span  style="color:#888888;font-size:10px"> 
            编号 <%= item.identifier %>, 更新于<%= item.lastUpdatedDate %>
          </span> -->
          <h6><small>编号 <%= item.identifier %>, 更新于<%= item.lastUpdatedDate %></small></h6>
          <br>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>