$brand-primary: #FFFFFF;
$brand-language: #000000;

.jumbotron {
  background: $brand-primary;
  color: black;
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($brand-language, 20%);
    border-color: lighten($brand-language, 20%);
    &:hover {
      background: lighten($brand-language, 15%);
    }
  }

  p {
    color: lighten($brand-language, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    background: $brand-primary;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 0px solid white;
    img {
      max-width: 100%;
    }
  }
}

.service-list {
list-style-type: none;
margin-left:0px;
padding-left:0px;
display: inline-block;
}

.service-list img
{
float:left;
}

.service-list p,.service-list h3 {
text-align: central; 
display:inline-block;
padding: 0;
max-width: 200px;
}

