<div class="jumbotron text-center">
<% @brands.each do|brand| %>
<a type="button" class="btn btn-lg btn-default" href="/products"><span class="glyphicon glyphicon-book"></span><%= brand.name %></a><br>
<% end %>
</div>