<p id="notice"><%= notice %></p>
<table class="table">
    <tbody>
      <% @productGroups.each do |group| %>
      <tr>
        <% group.each do |product| %>
          <td>
            <% if product.price < product.higheast_price && current_user && current_user.distribution %>
              <span class="label label-danger">特价，省$<%= (product.higheast_price-product.price).round(2) %></span>
            <% end %>
            <div class="Product" style="clear:both; width:200px; text-align:center; padding:10px; display:block">
              <a href = "" class="button" onclick="" rel="prettyPhoto" title="" style="font-size:11px" data-toggle="modal" data-target=<%= "#myModal#{product.identifier}"%> >
                <img src= <%= product.img %> alt="" onload="" onerror="this.src='/App_Themes/AMS-CWH/Images/NoImage.jpg'; return false;" width="150" />
              </a>

              <!-- Modal -->
              <div class="modal modal-wide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id=<%= "myModal#{product.identifier}" %> >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%=product.description%></h4>
                    </div>
                    <div class="modal-body">
                      <img src= <%= "https://static.chemistwarehouse.com.au/ams/media/productimages/#{product.identifier}/original.jpg" %> alt="" onload="" onerror="this.src='/App_Themes/AMS-CWH/Images/NoImage.jpg'; return false;"/>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding:3px 3px 15px 3px; min-height:28px" > <%= product.description %> </div>
              <% if current_user&&current_user.distribution %>
                <span class='Price' style="font-weight:bold; padding:5px; font-size:20px">价格: $<%= product.price %>

                </span>
                <br> 
              <% end %>
              <span class='Price' style="color: rgb(255, 0, 0);font-weight:bold; padding:5px; font-size:15px">建议零售价: ￥<%= current_user&&current_user.distribution ? (product.price * 4.85 * 1.2).round(2) : (product.higheast_price * 5 * 1.2).round(2) %>  
              </span>
              <br> 
              <% if product.inStock? %>
                <span class='Price' style="color: black;font-weight:bold; padding:5px; font-size:15px">有库存
                </span>
              <% else %>
                <span class='Price' style="color: rgb(255, 0, 0);font-weight:bold; padding:5px; font-size:15px">无库存
                </span>
              <% end %>
              <br>
              <span  style="color:#888888;font-size:10px"> 
                编号 <%= product.identifier %>, 更新于<%= product.lastUpdatedDate %>
              </span>
              <br>
            </div>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
</table>
<br>